<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Ammonia</title>
</head>
<body>
    <div id="date_time"></div>
    <div><ul id="data"></ul></div>
    <div><ul id="status"></ul></div>

    <form action="/command" method="post">
        <input list="commands" name="commands">
        <datalist id="commands">
            <option value="Status">Status</option>
            <option value="Mode">Mode</option>
            <option value="Stop">Stop</option>
            <option value="Mem">Mem</option>
            <option value="Reset">Reset</option>
            <option value="Data">Data</option>
            <option value="AirPump">AirPump</option>
            <option value="LiqPump">LiqPump</option>
            <option value="Valve">Valve</option>
            <option value="Fan">Fan</option>
        </datalist>
        <input list="on_off" name="on_off">
        <datalist id="on_off">
            <option value=0>Off</option>
            <option value=1>On</option>
        </datalist>
        <input type="submit" value="Submit">
    </form>
    
    <select id="params"></select>
    <button onclick="plot()">plot</button>
    <div id="plots"></div>
</body>
</html>
